h1{
  text-align: center;
  color: #276ef1;
  font-family:lato;
  font-weight:bold;
}

h2{
  text-align: center;
  padding-top: 50px;
  font-family:lato;
}

h3{
  text-align: right;
  color: #276ef1;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family:lato;
}

p{
  font-family:lato;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
